@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --color-primary: #e67e22;
  --color-primary-tint-1: #fdf2e9;
  --color-primary-tint-2: #fae5d3;
  --color-primary-tint-3: #eb984e;
  --color-primary-shade-1: #cf711f;
  --color-primary-shade-2: #45260a;
  --color-green: #51cf66;
  --color-yellow: #ffd43b;

  --color-grey-1: #888;
  --color-grey-2: #767676;
  --color-grey-3: #6f6f6f;
  --color-grey-4: #555;
  --color-grey-5: #333;
  --shadow-default: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* overflow-x: hidden; */
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-3);
}

/* Header Styles */
.headers {
  background-color: var(--color-primary-tint-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4rem;
  height: 12vh;

  z-index: 9;
  width: 100%;
}
.logo {
  height: 2.2rem;
}

.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.nav_links {
  &:link,
  &:visited {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-grey-5);
    transition: color 0.3s;
    padding: 1.2rem 2rem;
  }
  &:hover,
  &:active {
    color: var(--color-primary);
  }
}

.btn-toolbar {
  &:link,
  &:visited {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 8px;
    transition: color 0.3s;
  }
  &:hover,
  &:active {
    background-color: var(--color-primary-shade-1);
  }
}

/* Hero Section Styles */
.hero-section {
  background-color: var(--color-primary-tint-1);
  padding-block: 6rem;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
}

.heading-primary {
  font-size: 5.2rem;
  color: var(--color-grey-5);
  margin-bottom: 3.6rem;
  letter-spacing: 2px;
  line-height: 1.05;
  font-weight: 600;
  animation: left 3s ease-in-out;
}
.hero-description {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 5.9rem;
  animation: bottom 3s ease-in-out;
}
.btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  text-align: center;
  margin-bottom: 5rem !important;
}
.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-wrap: nowrap;
    font-size: 2rem;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    min-width: 216px;
  }
  &:hover,
  &:active {
    background-color: var(--color-primary-shade-1);
  }
}

.btn--outline {
  &:link,
  &:visited {
    background-color: #fff;
    color: var(--color-grey-3);

    &:hover,
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 4px #fff;
    }
  }
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.delivered-meals__meal {
  display: flex;
}
.delivered-meals__img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-left: -1.5rem;
  border: 3px solid var(--color-primary-tint-1);
  animation: blur 3s ease-in-out;
}
.delivered-meals__meal .delivered-meals__img:first-child {
  margin-left: 0;
}
.delivered-meals-text {
  font-size: 1.8rem;
  b {
    color: var(--color-primary);
    font-weight: 700;
  }
}
.hero-img {
  width: 100%;
  animation: blur 3s ease-in-out;
}

/* Logos Section Styles */
.section-logos {
  padding-block: 6rem;
}
.logos-box {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
.logos-primary {
  text-align: center;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  animation: logos 35s linear infinite;
}

.logos-hover {
  width: 170px;
  height: 100%;
  position: absolute;
  top: 0;

  z-index: 2;
}
.logos__img {
  height: 3.2rem;
}

@keyframes logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* How It Works Section Styles */
.section-works {
  padding-block: 6rem;
}

.works-heading {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}
.works-description {
  font-size: 4.4rem;
  color: var(--color-grey-5);
  font-weight: 600;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 6rem;
}
.works-box {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.works-step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.works-step-num {
  display: block;
  font-size: 8.6rem;
  font-weight: 700;
  color: #dddddd;
  margin-bottom: 1.6rem;
}
.works-step-heading {
  font-size: 3rem;
  color: var(--color-grey-5);
  font-weight: 600;
  margin-bottom: 4rem;
  letter-spacing: 0.5px;
}
.works-step-description {
  font-size: 2rem;

  line-height: 1.5;
  font-weight: 300;
}

.works-step__img {
  justify-self: center;
  width: 34.5%;
}

.works-step:nth-child(2) .works-step-text {
  grid-column: 2;
}
.works-step:nth-child(2) .works-step__img {
  grid-column: 1;
  grid-row: 1;
}

/* Meals Section Styles */

.section-meals {
  padding-block: 6rem;
}

.meals-primary {
  text-align: center;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}
.grid-item {
  overflow: hidden;
  box-shadow: var(--shadow-default);
  border-radius: 12px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  &:active,
  &:hover {
    transform: translateY(-3rem);
  }
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.6rem 4.8rem;
}
.meal-type {
  display: inline-block;
  background-color: var(--color-green);
  font-size: 1.2rem;
  color: #fff;
  padding: 0.2rem 0.8rem;
  text-transform: capitalize;
  border-radius: 10px;
  margin-bottom: 1.4rem;
}
.meal-type-2 {
  background-color: var(--color-yellow);
  margin-left: 1rem;
}
.meal-title {
  font-size: 2.4rem;
  color: var(--color-grey-5);
  margin-bottom: 2rem;
}
.meal-details {
  list-style: none;
  padding-inline: 1rem;
}
.meal-detail {
  font-size: 1.8rem;
  color: var(--color-grey-5);
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 5px;
  &:b {
    font-weight: 700;
  }
  svg {
    color: var(--color-primary);
  }
}

/* Testimonials Section Styles */

.section-testimonials {
  padding-block: 6rem;
  background-color: var(--color-primary-tint-1);
}

.testimonial-customer {
  border-radius: 50%;
  height: 6.4rem;
  margin-bottom: 2rem;
}
.testimonial-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.testimonial-name {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.testimonials-imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 6.5rem;
  gap: 2rem;
  margin-inline: 3rem;
}
.testimonials-img {
  overflow: hidden;
}

.testimonials-img:hover .testimonial-img {
  transform: scale(1.1);
}

.testimonial-img {
  width: 100%;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

/* Pricing Section Styles */

.section-pricing {
  padding-block: 6rem;
}

.pricing-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 6.4rem;
}

.pricing-cart {
  background-color: var(--color-primary-tint-1);
  border-radius: 12px;
  padding: 4.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 36.2rem;
}
.pricing-cart:first-child {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--color-primary-tint-1);
  justify-self: end;
}
.pricing-cart:last-child {
  position: relative;
  justify-self: start;
}

.pricing-cart:last-child::after {
  content: "Best value";
  font-size: 1.4rem;
  color: var(--color-grey-5);
  font-weight: 500;
  text-transform: capitalize;
  top: 5%;
  right: 0;
  text-align: center;
  position: absolute;
  background-color: var(--color-yellow);
  padding: 0.8rem 8rem;
  transform: translate(33%, -10%) rotate(50deg);
}
.price-cart-title {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--color-primary-shade-1);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.cart-price {
  display: block;
  text-align: center;
  color: var(--color-grey-5);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.price-cart-price {
  font-size: 6.2rem;
}
.price-cart-description {
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5.2rem;
}
.pricing-details {
  list-style: none;
  margin-bottom: 4.8rem;
}
.pricing-detail {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.pricing-description {
  text-align: center;
  margin-block: 5rem 10rem;
  font-size: 1.6rem;
  line-height: 1.3;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 6.6rem;
}

.feature-icon {
  height: 6.4rem;
  width: 6.4rem;
  background-color: var(--color-primary-tint-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.feature-icon svg {
  font-size: 3.2rem;
  color: var(--color-primary);
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-grey-5);
  margin-bottom: 2.6rem;
}
.feature-description {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
}

/* Try it Free Section Style */

.section-try-for-free {
  padding-block: 6rem;
}

.try-for-free {
  background-image: linear-gradient(to right, #e67e22 0%, #eb984e 100%);
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: var(--shadow-default);
}
.try-for-free *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.try-for-free-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.try-for-free-primary {
  font-size: 4.4rem;
  font-weight: 700;
  color: var(--color-primary-shade-2);
  margin-bottom: 4.2rem;
  letter-spacing: -0.5px;
}
.try-for-free-description {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary-shade-2);
  margin-bottom: 5.2rem;
  line-height: 1.5;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.label {
  font-size: 1.6rem;
  color: var(--color-primary-shade-2);
}
.input {
  outline: none;
  border: none;
  padding: 1.2rem;
  border-radius: 9px;
  background-color: var(--color-primary-tint-1);
  font-size: 1.8rem;
  width: 100%;
}
.select {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.2rem;
  font-size: 1.8rem;

  border-radius: 9px;
  background-color: var(--color-primary-tint-1);
}
.btns {
  display: inline-block;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 9px;
  background-color: var(--color-primary-shade-2);
  color: var(--color-primary-tint-1);
  align-self: end;
  transition: all ease-in-out 0.3s;
  &:hover,
  &:active {
    background-color: #fff;
    color: var(--color-primary-shade-2);
  }
}
.try-for-free-text-img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/gallery/gallery-3.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

/* Footer Styles */

.footer {
  padding-block: 6rem;
  border-top: 1px solid #888;
}

.grid-cols-5 {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  gap: 6.4rem;
}

.footer-icons {
  margin-block: 3.6rem 6.9rem;
  display: flex;
  gap: 2.4rem;
}
.icon {
  font-size: 2.4rem;
  transition: all ease-in-out 0.3s;
  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 300;
}
.footer-item-title {
  color: var(--color-grey-4);
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
}
.address {
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 3rem;
}
.footer-item-link {
  &:link,
  &:visited {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-grey-2);
    margin-bottom: 2rem;
  }
}
.footer-item:nth-child(2) .footer-item-link {
  margin-bottom: 1rem;
}

.footer-item-links {
  list-style: none;
}

.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #f7f7f7f7;
  box-shadow: 0px 2.4rem 4.8rem rgb(0, 0, 0, 0.2);
  z-index: 8;
  transition: all ease-in-out 0.3s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(12rem);
}

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
  display: none;
}
.close {
  opacity: 0;
  visibility: hidden;
  color: #222;
  transition: all ease-in-out opacity 1s;
}

.loader {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  transition: all ease-in-out 0.3s;
  animation: loader infinite ease-in-out 1s;
}
.loader img {
  height: 3rem;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: all ease-in-out opacity 1s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes blur {
  0%,
  100% {
    filter: blur(10px);
  }
  50% {
    filter: blur(20px);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    background-color: transparent;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.3;
    background-color: transparent;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottom {
  0% {
    opacity: 0;
    background-color: transparent;

    transform: translateY(100%);
  }
  50% {
    opacity: 0.3;
    background-color: transparent;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
